:root {
    /* primary colors  */
    --pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    /* neutral color */
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    /* font family */
    --heading-font: "Poppins", sans-serif;
    --body-font: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100svh;
    background-color: white;
    text-align: center;
}

.top-heading {
    background-color: transparent;
    backdrop-filter: blur(15px);
    width: 100%;
    padding: 20px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
}

.top-heading img {
    width: 125px;
    height: 23px;
}

.top-heading button {
    background-color: transparent;
    color: var(--Light-Pink);
    border-radius: 40px;
    padding-inline: 20px;
    padding-block: 5px;
    border: 2px solid var(--Light-Pink);
    font-family: var(--body-font);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 28px 2px hsl(321deg 100% 78% / 36%);
}

main {
    width: 100%;
    height: max-content;
    margin-top: 140px;
    margin-inline: auto;
    /* padding-inline: 20px; */
}

.hero {
    margin-inline: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: var(--Very-Dark-Cyan);
    font-family: var(--heading-font);
    padding-inline: 8px;
    padding-bottom: 25px;
}


.content {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--body-font);
    color: var(--Very-Dark-Cyan);
    padding-bottom: 40px;
    padding-inline: 28px;
}

.hero-button {
    width: fit-content;
    background-color: var(--pink);
    color: var(--Very-Pale-Blue);
    font-family: var(--body-font);
    font-weight: 700;
    padding-inline: 40px;
    padding-block: 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.hero-content .multiple-screen {
    width: 90%;
    padding-top: 50px;
}

.user-numbers {
    margin: 130px 0 0;
    width: 50%;
    color: var(--Very-Dark-Cyan);
    font-family: var(--heading-font);
}

.numbers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numbers .on-number {
    width: 28px;
    margin-bottom: -10px;
}

.numbers .number {
    font-size: 3.8rem;
    font-weight: 600;
}

.numbers .text {
    font-size: 13px;
    font-weight: 600;
    color: hsl(192deg 100% 9% / 58%);

}

.messages {
    margin-top: 80px;
}

.messages .text {
    padding-inline: 40px;
}

.main-content {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.curved-design-top {
    width: 100%;
    margin-bottom: -16px;
}

.curved-mobile {
    width: 100%;
}

.grow {
    background-color: var(--Very-Pale-Blue);
}

.same {
    padding-inline: 1rem;
    padding-block: 5rem;
    color: var(--Very-Dark-Cyan);
}

.same>img {
    width: 80%;
    padding-bottom: 48px;
}

.same h2 {
    font-family: var(--heading-font);
    padding-bottom: 1rem;
}

.same p {
    font-family: var(--body-font);
    line-height: 24px;
    font-size: 15px;
}

.flowing {
    background-color: white;
}

.user {
    background-color: var(--Very-Pale-Blue);
}


.reminder {
    margin: 0 0 8rem 0;
}

.reminder .lower-heading {
    padding-inline: 2rem;
}

.reminder .lower-heading h2 {
    font-family: var(--heading-font);
    color: var(--Very-Dark-Cyan);
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
}

footer {
    background-color: var(--Very-Dark-Cyan);
    padding-block: 4rem;
    color: var(--Very-Pale-Blue);
}

footer p {
    font-size: 14px;
    font-family: var(--body-font);
    line-height: 24px;
    word-spacing: 2px;
}

.footer-content {
    width: 90%;
    margin-inline: auto;
    display: grid;
    grid-template-areas:
        'newsletter'
        'contact'
        'social'
    ;
    overflow: hidden;
}

.newsletter {
    padding-bottom: 4rem;
    text-align: left;
    grid-area: newsletter;
}

.newsletter h2 {
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: 500;
    padding-bottom: 1rem;
}

.newsletter p {
    padding-bottom: 1.5rem;
}

.newsletter input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 2rem;
    font-size: 14px;
    padding-inline: 10px;
    margin-bottom: 1rem;
}

.newsletter input:focus-visible {
    outline: none;
}

.newsletter button {
    display: block;
    float: right;
    background-color: var(--pink);
    color: var(--Very-Pale-Blue);
    font-family: var(--body-font);
    font-size: 13px;
    font-weight: 500;
    padding-inline: 2.1rem;
    padding-block: 13px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.contact-info {
    width: 96%;
    display: grid;
    grid-template-areas:
        'logo logo'
        'info info'
        'p-logo num'
        'm-logo e-id'
    ;
    padding-bottom: 3rem;
    text-align: left;
    font-family: var(--body-font);
    grid-area: contact;
}

.contact-info .footer-logo {
    grid-area: logo;
    padding-bottom: 20px;
}

.contact-info .info {
    grid-area: info;
    width: 100%;
    padding-bottom: 1.5rem;
    word-spacing: 0px;
    padding-bottom: 40px;
}

.contact-info .phone {
    grid-area: p-logo;
}

.contact-info .num {
    padding-bottom: 20px;
    grid-area: num;
}

.contact {
    text-align: left;
}

.contact-info .email {
    grid-area: m-logo;
}

.contact-info .email-id {
    grid-area: e-id;
}

.contact-info .contact {
    margin-right: 6rem;
}

.social-media {
    grid-area: social;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.social-media a {
    font-size: 2.2rem;
    color: var(--Very-Pale-Blue);
}

.social-media a:hover{
    color: rgb( 34,211,238);
}


/* End of mobile screen size */