:root{
    /* primary colors  */
    --pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    /* neutral color */
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    /* font family */
    --heading-font: "Poppins", sans-serif;
    --body-font: "Open Sans", sans-serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    text-align: center;
}

.top-heading{
    background-color: transparent;
    backdrop-filter: blur(15px);
    width: 100%;
    padding: 20px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
}

.top-heading img{
    width: 125px;
    height: 23px;
}

.top-heading button{
    background-color: transparent;
    color: var(--Light-Pink);
    border-radius: 40px;
    padding-inline: 20px;
    padding-block: 5px;
    border: 2px solid var(--Light-Pink);
    font-family: var(--body-font);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 28px 2px hsl(321deg 100% 78% / 36%);
}

main{
    width: 100%;
    height: max-content;
    margin-top: 160px;
    margin-inline: auto;
    /* padding-inline: 20px; */
}

.hero{
    margin-inline: auto;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    color: var(--Very-Dark-Cyan);
    font-family: var(--heading-font);
    padding-inline: 8px;
    padding-bottom: 25px;
}


.content{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: var(--body-font);
    color: var(--Very-Dark-Cyan);
    padding-bottom: 40px;
    /* padding-inline: 20px; */
}

.hero-button{
    width: fit-content;
    background-color: var(--pink);
    color: var(--Very-Pale-Blue);
    font-family: var(--body-font);
    font-weight: 700;
    padding-inline: 40px;
    padding-block: 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.hero-content .multiple-screen{
    width: 100%;
    padding-top: 50px;
}

.user-numbers{
    margin: 130px 0 0;
    width: 50%;
    color: var(--Very-Dark-Cyan);
    font-family: var(--heading-font);
}

.numbers{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.numbers .on-number{
    width: 28px;
    margin-bottom: -10px;
}

.numbers .number{
    font-size: 3.8rem;
    font-weight: 600;
}

.numbers .text{
    font-size: 13px;
    font-weight: 600;
    color:  hsl(192deg 100% 9% / 58%);

}

.messages{
    margin-top: 80px;
}

.messages .text{
    padding-inline: 40px;
}

.main-content{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.curved-design-top{
    width: 100%;
    margin-bottom: -4px;
}

.curved-mobile-1{
    width: 100%;
}

.grow{
    background-color: var(--Very-Pale-Blue);
    padding-inline: 1rem;
    padding-block: 5rem;
}

.grow img{
    width: 80%;
}